.edit-text-button{
    width: 20px;
    height: 20px;
    background: #f3dbc3 url(../../../../../../../images/edit-button.svg) no-repeat;
    background-size: 15px;
    background-position: center;
    border-radius: 5px;
    margin-left: 10px;
}

.edit-text-button:hover{
    filter: brightness(1.1);
    cursor: pointer;
}