{
    "env": {
      "node": true,
      "es2021": true,
      "browser": true, 
    },
    "extends": [
      "eslint:recommended",
      "prettier"
    ],
    "rules": {
      "prettier/prettier": "error"
    },
    "plugins": [
      "prettier"
    ],
    "parserOptions": {
      "sourceType": "module"
    }
  }