{
  "useTabs": false, // использовать табы
  "printWidth": 80, // длина строки - 80
  "tabWidth": 2, // длина "таба" - 2 пробела
  "trailingComma": "es5", // запятая в последней строке
  "semi": true // точка с запятой
}