html{
    width: 100%;
    height: 100%
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100%;
    background-color: rgb(224, 206, 194);
}

.delete-task-button::before,
.submit-new-task::before{
    content: "\00D7";
    font-size: 15px;
    position: absolute;
    top: 0;
    margin-left: 6px;
    z-index: 1;
    writing-mode: vertical-rl;
    height: 100%;
    text-align: center;
    font-weight: bolder;
}

.delete-task-button::after,
.submit-new-task::after{
    content: "";   
    height: 100%;
    width: 3.67em;
    position: absolute;
    top: 0;
    border-radius: 0 5px 5px 0;
    border-left: solid;
    border-right: solid;
    font-size: 8px;
    background-color: rgb(230, 164, 164); 
}

.delete-task-button:hover::before,
.delete-task-button:hover::after{
    background-color: rgb(234, 185, 185); 
    cursor: pointer;
}

.delete-task-button,
.submit-new-task{
    margin-right: 25px ;
    margin-left: 10px;
}

.footer,
.header,
.task-page{
    display: flex;
    background-color: #f3dbc3;
}

.footer{
    justify-content: space-around;
    font-size: 8px;
    padding-top: auto;
}

.header{
    align-items: center;
}

.inputTextDiv,.text{
    flex-grow: 1;
}

.is-completed{
    visibility: hidden;
}

.is-completed::after{
    visibility: visible;
    content:'';
    position: absolute;
    top: 8px; 
    transform: scale(1.5);
    width: 15px;
    height: 15px;
    background: url(images/not-complete.svg) no-repeat 0.1px 0px; 
    background-size: 1.1em;
}

.is-completed:checked::after{
    visibility: visible;
    content:'';
    position: absolute;
    top: 8px; 
    transform: scale(1.5);
    width: 15px;
    height: 15px;
    background: url(images/complete.svg) no-repeat 0.1px 0px; 
    background-size: 1.1em;
}

.is-completed:hover::after{
    cursor: pointer;
    filter: brightness(1.8);
}

.is-completed:hover:checked::after{
    cursor: pointer;
    filter: brightness(0.8);
}

.new-task-area{
    width: 100%;
}

.new-task-form, 
.task{
    display: flex;
    position: relative;
    margin: 10px;
    padding: 5px;
    border: solid;
    border-radius: 5px;
    background-color: rgba(255, 237, 186, 0.349);
}

.complete-task{
    background-color: #d3ebce;
    text-decoration: line-through solid rgb(236, 92, 92);
}

.program-title{
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.programm-logotype{
    height: 25px;
    margin-left: 5px;
}

.submit-new-task{
    margin-top: 5px;
    font-size: 10px;
}

.submit-new-task::after{
    background-color: #d3ebce;
}

.submit-new-task::before{
    content: "+";
}

.submit-new-task:hover::after,
.submit-new-task:hover::before{
    background-color: #e1f3dd;
    cursor: pointer;
}

.text:hover{
    color:rgb(18, 147, 31);
    cursor: pointer;
}

.task-page{

    align-self: center;
    margin: 20px;
    border-radius: 5px;
}

.new-task-form{
    margin-bottom: 25px;
    margin-top: 5px;
}