/*Основная страница*/

html{
    width: 100%;
    height: 100%
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    background-color: rgb(224, 206, 194);
}

.clear-search{
    margin-left: 10px;
    margin-right: 5px ;
}

.delete-task-button::after,
.submit-new-task::after, 
.clear-search::after,
.close-notification::after{
    visibility: visible;
    content: "\00D7";
    position: absolute;
    top: 2px;
    right: 2px;
    height: 12px;
    width: 12px;
    background-color: rgb(230, 164, 164); 
    border-radius: 50%;
    border: solid;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    line-height: 1;

}

.delete-task-button:hover::after,
.clear-search:hover::after,
.close-notification:hover::after{
    background-color: rgb(234, 185, 185); 
    cursor: pointer;
}

.delete-task-button,
.submit-new-task,
.close-notification{
    margin-right: 5px ;
    margin-left: 15px;
    visibility: hidden;
}

.footer,
.header,
.task-page{
    display: flex;
    background-color: #f3dbc3;
}

.footer{
    justify-content: space-around;
    font-size: 8px;
    margin-top: auto;
}

.header{
    align-items: center;
}

.inputTextDiv,.text{
    flex-grow: 1;
}

.is-completed{
    visibility: hidden;
}

.is-completed::after{
    visibility: visible;
    content:'';
    position: absolute;
    top: 8px; 
    transform: scale(1.5);
    width: 15px;
    height: 15px;
    background: url(images/not-complete.svg) no-repeat 0.1px 0px; 
    background-size: 1.1em;
}

.is-completed:checked::after{
    visibility: visible;
    content:'';
    position: absolute;
    top: 8px; 
    transform: scale(1.5);
    width: 15px;
    height: 15px;
    background: url(images/complete.svg) no-repeat 0.1px 0px; 
    background-size: 1.1em;
}

.is-completed:hover::after{
    cursor: pointer;
    filter: brightness(1.8);
}

.is-completed:hover:checked::after{
    cursor: pointer;
    filter: brightness(0.8);
}

.new-task-area,
.search-area{
    width: 100%;
}

.new-task-form,
.search-form,
.task{
    display: flex;
    position: relative;
    margin: 10px;
    padding: 5px;
    border: solid;
    border-radius: 5px;
    background-color: rgba(255, 237, 186, 0.349);
}

.new-task-area,
.search-area{
    border-radius: 5px;
    border: solid 1px;
    resize: none;
    background-color: rgba(243, 240, 233, 0.349);
    font-family: normal;
}

.new-task-area:focus,
.search-area:focus{
    outline: 0.8px solid;
}

.no-tasks{
    padding-left: 10px;
}

.program-title{
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.programm-logotype{
    height: 25px;
    margin-left: 5px;
}

.submit-new-task::after,
.clear-search::after{
    content: "+";    
    background-color: #d3ebce;
    top: 50%;
    transform: translateY(-50%);
}

.clear-search::after{
    content: "\00D7";
    background-color: rgb(230, 164, 164); 
}

.submit-new-task:hover::after{
    background-color: #e1f3dd;
    cursor: pointer;
}

.text{
    hyphens: auto;
}

.text:hover{
    color:rgb(18, 147, 31);
    cursor: pointer;
}

.task{
    padding-bottom: 10px;
}

.task-page{
    margin: 20px;
    border-radius: 5px;
}

.task-table{
    width: 100%;
}

.new-task-form{
    margin-bottom: 25px;
    margin-top: 5px;
}

.task-date{
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 6px;
}

.complete-task{
    background-color: #d3ebce;
    text-decoration: line-through solid rgb(236, 92, 92);
}

.hidden{
    display: none;
}

/* Поле корректировки краткого и полного описания*/

.close-edit-button{
    position: absolute;
    top: -5px;
    right: -5px;
    height: 12px;
    width: 12px;
    background-color: rgb(230, 164, 164); 
    border-radius: 50%;
    border: solid;
    text-align: center;
    font-size: 12px;
    font-weight: bolder; 
}

.close-edit-button:hover{
    background-color: rgb(234, 185, 185); 
    cursor: pointer;
}

.edit-table{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #f3dbc3;
    padding: 10px;
    border-radius: 5px;
    border: solid;
    width:50%;
}

.edit-table-for-buttons{
    position: relative;
    display: flex;
    flex-direction: column;

}

.edit-text-button, 
.edit-full-text-button{
    width: 20px;
    height: 20px;
    background: #f3dbc3 url(images/edit-button.svg) no-repeat;
    background-size: 15px;
    background-position: center;
    border-radius: 5px;
    margin-left: 10px;

}

.edit-text-button:hover, 
.edit-full-text-button:hover{
    filter: brightness(1.1);
    cursor: pointer;
}

.edit-window{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 255, 255, 0.558);
    z-index: 2;
    visibility: hidden;
}

.task-edit-full-text-title,
.task-edit-title{
    margin-bottom: 3px;
}

.task-edit-full-text,
.task-edit-text{
    resize: none;
    color: rgb(31, 59, 34);
    background-color: #00000000;
    width: 100%
}

.task-edit-full-text{
    height: 10em;
}

.save-edit-button{
    background-color: #d3ebce;
    border-radius: 1px;
    border: solid;
    text-align: center;
    margin-top: 5px;

}

.save-edit-button:hover{
    filter: brightness(1.1);
    cursor: pointer;
}

.title-edit-box,
.description-edit-box{
    display: flex;
}

.text-area-div{
    flex-grow: 1;
}

/* Поле нотификаций*/

.notification{
    position: absolute;
    bottom:40px;
    right: 20px;
    background-color: rgb(234, 185, 185);
    width: 100px;
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
}

.text-of-notification{
    margin-top: 15px;
    text-align: center;
    font-size: small;
}
