.input-text-div{
    width: 100%;
}

.new-task-area{
    border-radius: 5px;
    border: solid 1px;
    resize: none;
    background-color: rgba(243, 240, 233, 0.349);
    font-family: normal;
    width: 100%;
}

.new-task-area:focus{
    outline: 0.8px solid;
}
