.circle-button.clear-search-button::after{
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: var(--small-button-size);
    height: var(--small-button-size);
    font-size: var(--small-button-size);
}

.circle-button.clear-search-button{
    margin-left: 15px;
}