.login-window{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 255, 255, 0.558);
    z-index: 2;
}

.login-table{
    position: absolute;
    top:10%;
    left:10%;
    padding: 10px;
    width:70%;
}

.login-box{
    position: relative;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    width: 95%;
}

.text-input.password-input, .text-input.login-input{
    width: unset;
    flex-grow: 1;
}

.password-input{
    margin-top: 10px;    
}

.login-text{
    padding: 10px;
    text-align: center;
    margin: 5px;
}

.login-button{
    margin: 5px;
    width: 95%;
    
}
