.edit-table{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #f3dbc3;
    padding: 10px;
    border-radius: 5px;
    border: solid;
    width:80%;
}