.small-button.edit-button{
    background-image: url(Project/images/edit-button.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    margin-left: 30px;
    background-color: #ffffff;
    flex-shrink: 0;
}

.edit-button:hover{
    background-color: #dddddd;
}

.edit-button:active{
    background-color: #aaaaaa;

}