.small-button.edit-button{
    background: var(--table-color) url(Project/images/edit-button.svg) no-repeat;
    background-size: 24px;
    margin-left: 30px;
    background-color: #ffffff;
}

.edit-button:hover{
    background-color: #dddddd;
}

.edit-button:active{
    background-color: #aaaaaa;

}