.loading-spinner::before{
  content: "";
  width: 34px;
  height: 34px;
  position: absolute;
  visibility: visible;
  background-image: url("Project/images/spinner.svg");
  background-repeat: no-repeat;
  background-size: 34px;
  animation: 1s spin infinite linear;
  z-index: 1;
}

.submit-new-task-button.loading-spinner::before{
  top: -4px;
  right: -4px;
}

.delete-task-button.loading-spinner::before{
  top: -4px;
  right: -4px;
}

.save-edit-button.loading-spinner::before{
  bottom: 5px;
  right: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}