.full-text-area-div{
    flex-grow: 1;
}

.task-edit-full-text{
    resize: none;
    height: 200px;
    margin-bottom: 6px;
}

.task-full-text{
    height: 200px;
    margin-bottom: 10px;
    color: rgb(84, 84, 84);
}
