.notification{
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: 100px;
    padding: 5px;
}

.text-of-notification{
    margin-top: 15px;
    text-align: center;
    font-size: small;
}

.close-notification-button::after{
    right: 2px;
    top: 2px;
}

