.circle-button{
    visibility: hidden;
    margin-right: 5px ;
    margin-left: 20px ;
}

.circle-button::after{
    visibility: visible;
    position: absolute;
    cursor: pointer;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border: var(--border-style);
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    line-height: 1;
}

.x-button::after{ 
    content: "\00D7";
    background-color: rgb(230, 164, 164);
}

.x-button:hover::after{ 
    filter: brightness(1.2);
}

.add-button::after{ 
    content: "";    
    background-color: #2F80ED;
    width: var(--small-button-size);
    height: var(--small-button-size);
    background: url(Project/images/add.svg) no-repeat;
    background-size: var(--small-button-size);
    background-position: center;
    border: var(--border-style);
}

.add-button:hover::after{ 
    filter: brightness(1.2);
}

.remove-button::after{ 
    content: "";    
    background-color: #FF5C00;
    width: var(--small-button-size);
    height: var(--small-button-size);
    background: url(Project/images/remove.svg) no-repeat;
    background-size: var(--small-button-size);
    background-position: center;
    border: var(--border-style);
}

.remove-button:hover::after{ 
    filter: brightness(1.2);
}

.hidden-after::after{
    visibility: hidden;
}