.footer{
    display: flex;
    flex-direction: column;
    font-size: smaller;
    margin-top: auto;
    background-color: white;
}

.information{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.mail{
    margin-left: 20px;
    margin-right: 20px;
}

.updated{
    text-align: center;
    margin-top: 10px;
    font-size: xx-small;
}

