.save-edit-button{
    position: relative;
    background-color: #2F80ED;
    border-radius: 1px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    color: white;
    margin-top: 5px;
    padding: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.save-edit-button:hover{
    background-color: #56CCF2;
    cursor: pointer;
}

.save-edit-button:active{
    background-color: #2D9CDB;
}