:root{
    --red-button-color: rgb(230, 164, 164);
    --green-button-color: #d3ebce; 
}

.circle-button{
    visibility: hidden;
    margin-right: 5px ;
}

.circle-button::after{
    visibility: visible;
    position: absolute;
    cursor: pointer;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border: var(--border-style);
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    line-height: 1;
}

.x-button::after{ 
    content: "\00D7";
    background-color: var(--red-button-color); 
}

.x-button:hover::after{ 
    filter: brightness(1.2);
}

.plus-button::after{ 
    content: "+";    
    background-color: var(--green-button-color); 
}

.plus-button:hover::after{ 
    filter: brightness(1.2);
}

.hidden-after::after{
    visibility: hidden;
}