<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta keywords = "to-do, task manager">
  <title>DoDoses</title>
  <link type="image/x-icon" href="./images/complete.svg" rel="shortcut icon">
</head>
<body>
  <header class="header">
    <img src="images/complete.svg" class="programm-logotype">
    <div class="program-title">Программа для того, чтобы делать дела!</div>  
  </header>
  <div class="task-page">
  </div>
  <footer class="footer">
    <div class="information">
      <div class="telephone"><a href="tel:+79000000000">+7 (900) 000-00-00</a> </div>
      <div class="mail"><a href = "mailto: mail@mail.ru">mail@mail.ru</a></div>
      <div class="author">Zimin Alexander, Belousov Nikita</div>
    </div>
    <div class="updated"> <%= htmlWebpackPlugin.options.date %> </div>
  </footer>
  <div id="root"></div>
</body>
</html>