.notification{
    position: absolute;
    bottom:40px;
    right: 20px;
    background-color: rgb(234, 185, 185);
    width: 100px;
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
}

.text-of-notification{
    margin-top: 15px;
    text-align: center;
    font-size: small;
}

.close-notification-button{
    right: 2px;
    top: 2px;
}

